<div style="font-size:20px; color:pink; margin:20px">
クラスタ分析とは
</div>
<div style="font-size:14px; color:white; margin:20px">
<p><strong>クラスタ分析 (クラスタリング, Clustering) </strong>とは、ラベル付けがなされていないデータに対して、近しい属性を持つデータをグループ化する手法です。例をあげると、以下のような活用方法があり、マーケティング施策や商品の企画開発などに活用することます。</p>
<ul>
<li>製品ごとの特徴 (自動車であれば、価格や定員、燃費、排気量、直近の販売台数) を用いて類似の製品をグループ化</li>
<li>店舗の特徴 (スーパーであれば、売上や面積、従業員数、来客数、駐車場の数) から類似の店舗をグループ化</li>
<li>顧客の特徴 (銀行であれば、性別、年齢、貯蓄残高、毎月の支出、住宅ローンの利用有無など) を用いて似たような利用傾向の顧客をグループ化</li>
</ul>
<p>クラスタ分析には大別して、K-Means に代表される「<strong>非階層的クラスタ分析</strong>」と Ward 法 (ウォード法) に代表される「<strong>階層的クラスタリング</strong>」の2種類が存在します。本ページでは、非階層的クラスタ分析の代表例である K-Means 法を用いたクラスタリングについて解説します。</p>
<p><strong>非階層的クラスタリング</strong><br />
非階層的クラスタリング (例: K-Means 法) では、決められたクラスタ数にしたがって、近い属性のデータをグループ化します。以下の図では、3つのクラスタに分類しましたが、それぞれの色でどのクラスタに分類されたかを示しています。<br />
<a href="http://pythondatascience.plavox.info/wp-content/uploads/2016/05/kmeans.png" rel="attachment wp-att-407"><img src="http://pythondatascience.plavox.info/wp-content/uploads/2016/05/kmeans-300x235.png" alt="kmeans" width="300" height="235" class="alignnone size-medium wp-image-407" srcset="https://pythondatascience.plavox.info/wp-content/uploads/2016/05/kmeans-300x235.png 300w, https://pythondatascience.plavox.info/wp-content/uploads/2016/05/kmeans.png 532w" sizes="(max-width: 300px) 100vw, 300px" /></a></p>
<p><strong>階層的クラスタリング</strong><br />
階層的クラスタリング (例: Ward 法) では、クラスタリングの結果を木構造で出力する特徴があります。縦方向の長さ (深さ) は類似度を示し、長いほど類似度が低く、短いほど類似度が高いことを示します。<br />
<a href="http://pythondatascience.plavox.info/wp-content/uploads/2016/05/ward.png" rel="attachment wp-att-408"><img src="http://pythondatascience.plavox.info/wp-content/uploads/2016/05/ward-300x244.png" alt="ward" width="300" height="244" class="alignnone size-medium wp-image-408" srcset="https://pythondatascience.plavox.info/wp-content/uploads/2016/05/ward-300x244.png 300w, https://pythondatascience.plavox.info/wp-content/uploads/2016/05/ward.png 625w" sizes="(max-width: 300px) 100vw, 300px" /></a></p>
<hr>
</div>

<div style="font-size:20px; color:pink; margin:20px">
K-Means法とは
</div>
<div style="font-size:14px; color:white; margin:20px">
K-Means 法 (K-平均法ともいいます) は、基本的には、以下の 3 つの手順でクラスタリングを行います。<br>
<br>
初期値となる重心点をサンプルデータ (データセット全体からランダムに集めた少量のデータ) から決定。<br>
各サンプルから最も近い距離にある重心点を計算によって求め、クラスタを構成。<br>
2.で求めたクラスタごとに重心を求め、2. を再度実行する。2. ～ 3. を決められた回数繰り返し実行し、<br>
大きな変化がなくなるまで計算。
</div>

<div style="font-size:20px; color:pink; margin:20px">
scikit-learn を用いたクラスタ分析
</div>
<div style="font-size:14px; color:white; margin:20px">
scikit-learn には、K-means 法によるクラスタ分析を行うクラスとして、<br>
sklearn.cluster.KMeans クラスが用意されています。

<p><b>sklearn.cluster.KMeans クラスの使い方</b></p>
<p></p><!-- Crayon Syntax Highlighter v_2.7.2_beta -->

		<div id="crayon-5a45d2d1598b6461788514" class="crayon-syntax crayon-theme-github crayon-font-monaco crayon-os-mac print-yes notranslate" data-settings=" no-popup minimize scroll-mouseover" style=" margin-top: 12px; margin-bottom: 12px; font-size: 13px !important; line-height: 16px !important;">
		
			<div class="crayon-toolbar" data-settings=" show" style="font-size: 13px !important;height: 19.5px !important; line-height: 19.5px !important;"><span class="crayon-title"></span>
			<div class="crayon-tools" style="font-size: 13px !important;height: 19.5px !important; line-height: 19.5px !important;"><div class="crayon-button crayon-wrap-button" title="Toggle Line Wrap"><div class="crayon-button-icon"></div></div><span class="crayon-language">Python</span></div></div>
			<div class="crayon-info" style="min-height: 18.2px !important; line-height: 18.2px !important;"></div>
			<div class="crayon-plain-wrap"></div>
			<div class="crayon-main" style="">
				<table class="crayon-table">
					<tr class="crayon-row">
				<td class="crayon-nums " data-settings="show">
					<div class="crayon-nums-content" style="font-size: 13px !important; line-height: 16px !important;"><div class="crayon-num" data-line="crayon-5a45d2d1598b6461788514-1">1</div><div class="crayon-num" data-line="crayon-5a45d2d1598b6461788514-2">2</div><div class="crayon-num" data-line="crayon-5a45d2d1598b6461788514-3">3</div></div>
				</td>
						<td class="crayon-code"><div class="crayon-pre" style="font-size: 13px !important; line-height: 16px !important; -moz-tab-size:4; -o-tab-size:4; -webkit-tab-size:4; tab-size:4;"><div class="crayon-line" id="crayon-5a45d2d1598b6461788514-1"><span class="crayon-v">sklearn</span><span class="crayon-sy">.</span><span class="crayon-v">cluster</span><span class="crayon-sy">.</span><span class="crayon-e">KMeans</span><span class="crayon-sy">(</span><span class="crayon-v">n_clusters</span><span class="crayon-o">=</span><span class="crayon-cn">8</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">init</span><span class="crayon-o">=</span><span class="crayon-s">'k-means++'</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">n_init</span><span class="crayon-o">=</span><span class="crayon-cn">10</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">max_iter</span><span class="crayon-o">=</span><span class="crayon-cn">300</span><span class="crayon-sy">,</span></div><div class="crayon-line" id="crayon-5a45d2d1598b6461788514-2"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="crayon-v">tol</span><span class="crayon-o">=</span><span class="crayon-cn">0.0001</span><span class="crayon-sy">,</span><span class="crayon-v">precompute_distances</span><span class="crayon-o">=</span><span class="crayon-s">'auto'</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">verbose</span><span class="crayon-o">=</span><span class="crayon-cn">0</span><span class="crayon-sy">,</span></div><div class="crayon-line" id="crayon-5a45d2d1598b6461788514-3"><span class="crayon-h">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span class="crayon-v">random_state</span><span class="crayon-o">=</span><span class="crayon-t">None</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">copy_x</span><span class="crayon-o">=</span><span class="crayon-t">True</span><span class="crayon-sy">,</span><span class="crayon-h"> </span><span class="crayon-v">n_jobs</span><span class="crayon-o">=</span><span class="crayon-cn">1</span><span class="crayon-sy">)</span></div></div></td>
					</tr>
				</table>
			</div>
		</div>
<!-- [Format Time: 0.0041 seconds] -->
<p></p>
<p><b>sklearn.cluster.KMeans クラスの引数</b><br />
実行時に、以下のパラメータを制御できます。</p>
<table>
<tr>
<th>n_clusters</th>
<td>クラスタ数。(デフォルト値: 8)</td>
</tr>
<tr>
<th>max_iter</th>
<td>繰り返し回数の最大値。 (デフォルト値: 300)</td>
</tr>
<tr>
<th>n_init</th>
<td>初期値選択において、異なる乱数のシードで初期の重心を選ぶ処理の実行回数。 (デフォルト値: 10)</td>
</tr>
<tr>
<th>init</th>
<td>初期化の方法。&#8217;k-means++&#8221;, &#8216;random&#8217; もしくは ndarray を指定。 (デフォルト値: &#8216;k-means++&#8217;)</td>
</tr>
<tr>
<th>tol</th>
<td>収束判定に用いる許容可能誤差。 (デフォルト値: 0.0001)</td>
</tr>
<tr>
<th>precompute_distances</th>
<td>距離 (データのばらつき具合) を事前に計算するか。 &#8216;auto&#8217;, True, False から指定。 (デフォルト値: &#8216;auto&#8217;)</td>
</tr>
<tr>
<th>verbose</th>
<td>1 を指定すると、詳細な分析結果を表示。 (デフォルト値: 0)</td>
</tr>
<tr>
<th>random_state</th>
<td>乱数のシードを固定する場合に指定。数値もしくは integer or numpy.RandomState で指定。 (デフォルト値: None)</td>
</tr>
<tr>
<th>copy_x</th>
<td>距離を事前に計算する場合、メモリ内でデータを複製してから実行するかどうか。 (デフォルト値: True)</td>
</tr>
<tr>
<th>n_jobs</th>
<td>初期化を並列処理する場合の多重度。-1 を指定するとすべての CPU を使用。 (デフォルト値: 1)</td>
</tr>
</table>
<p><b>sklearn.cluster.KMeans クラスのメソッド</b><br />
以下のメソッドを用いて、クラスタリングの計算を行います。</p>
<table>
<tr>
<th>fit(X[, y])</th>
<td>クラスタリングの計算を実行する。</td>
</tr>
<tr>
<th>fit_predict(X[, y])</th>
<td>各サンプルに対する、クラスタ番号を求める。</td>
</tr>
<tr>
<th>fit_transform(X[, y])</th>
<td>クラスタリングの計算を行い、X を分析に用いた距離空間に変換して返す。</td>
</tr>
<tr>
<th>get_params([deep])</th>
<td>計算に用いたパラメータを返す。</td>
</tr>
<tr>
<th>predict(X)</th>
<td>X のサンプルが属しているクラスタ番号を返す</td>
</tr>
<tr>
<th>set_params(**params)</th>
<td>パラメータを設定する</td>
</tr>
<tr>
<th>transform(X[, y])</th>
<td>X を分析に用いた距離空間に変換して返す。</td>
</tr>
</table>
<hr>
</div>

<div style="font-size:20px; color:pink; margin:20px">
scikit-learn を用いたクラスタ分析の実行例
</div>
<div style="font-size:14px; color:white; margin:20px">
<p>scikit-learn を用いてクラスタ分析を行う手順を紹介します。</p>
<p><b>今回使用するデータ</b><br />
今回は、UC バークレー大学の <a href="http://archive.ics.uci.edu/ml/" target="_blank">UCI Machine Leaning Repository</a> にて公開されている、「<a href="https://archive.ics.uci.edu/ml/datasets/Wholesale+customers" target="_blank">Wholesale customers Data Set (卸売業者の顧客データ)</a>」を利用します。</p>
<p>データセットの構成は以下のようになっています。各行が顧客 1 件を指し、440 件の顧客データが格納されています。</p>
<table>
<tr>
<th>Channel</th>
<td>販売チャネル。1: Horeca (ホテル・レストラン・カフェ), 2: 個人向け小売</td>
</tr>
<tr>
<th>Region</th>
<td>各顧客の地域。1: リスボン市, 2: ポルト市, 3: その他</td>
</tr>
<tr>
<th>Fresh</th>
<td>生鮮品の年間注文額</td>
</tr>
<tr>
<th>Milk</th>
<td>生鮮品の年間注文額</td>
</tr>
<tr>
<th>Grocery</th>
<td>食料雑貨の年間注文額</td>
</tr>
<tr>
<th>Frozen</th>
<td>冷凍食品の年間注文額</td>
</tr>
<tr>
<th>Detergents_Paper</th>
<td>衛生用品と紙類の年間注文額 </td>
</tr>
<tr>
<th>Delicassen</th>
<td>惣菜の年間注文額</td>
</tr>
</table>
<p>データセットの詳細は以下にて確認可能です。</p>
<ul>
<li><a href="https://archive.ics.uci.edu/ml/datasets/Wholesale+customers" target="_blank">UCI Machine Learning Repository: Wholesale customers Data Set</a></li>
<li><a href="http://pythondatascience.plavox.info/wp-content/uploads/2016/05/Wholesale_customers_data.csv">データセットのダウンロード (当サイトでミラー)</a></li>
</ul>
<p><b>分析用コード</b></p>
<p>以下のコードを実行して、クラスタ分析を実行できます。今回は、440 件の顧客を購買傾向に基づいて、4 つのクラスタに分類します。<br />
(※ K-Means 法は初期値に乱数を使用する関係上、必ずしも以下の結果通りにクラスタ番号が決定するとは限りません)</p>
<p></p><!-- Crayon Syntax Highlighter v_2.7.2_beta -->
</div>

In [5]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

cust_df = pd.read_csv("Wholesale_customers_data.csv")
cust_df

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
5,2,3,9413,8259,5126,666,1795,1451
6,2,3,12126,3199,6975,480,3140,545
7,2,3,7579,4956,9426,1669,3321,2566
8,1,3,5963,3648,6192,425,1716,750
9,2,3,6006,11093,18881,1159,7425,2098
10,2,3,3366,5403,12974,4400,5977,1744
11,2,3,13146,1124,4523,1420,549,497
12,2,3,31714,12319,11757,287,3881,2931
13,2,3,21217,6208,14982,3095,6707,602
14,2,3,24653,9465,12091,294,5058,2168
15,1,3,10253,1114,3821,397,964,412
16,2,3,1020,8816,12121,134,4508,1080
17,1,3,5876,6157,2933,839,370,4478
18,2,3,18601,6327,10099,2205,2767,3181
19,1,3,7780,2495,9464,669,2518,501
20,2,3,17546,4519,4602,1066,2259,2124
21,1,3,5567,871,2010,3383,375,569
22,1,3,31276,1917,4469,9408,2381,4334
23,2,3,26373,36423,22019,5154,4337,16523
24,2,3,22647,9776,13792,2915,4482,5778
25,2,3,16165,4230,7595,201,4003,57
26,1,3,9898,961,2861,3151,242,833
27,1,3,14276,803,3045,485,100,518
28,2,3,4113,20484,25957,1158,8604,5206
29,1,3,43088,2100,2609,1200,1107,823
...,...,...,...,...,...,...,...,...
410,1,3,6633,2096,4563,1389,1860,1892
411,1,3,2126,3289,3281,1535,235,4365
412,1,3,97,3605,12400,98,2970,62
413,1,3,4983,4859,6633,17866,912,2435
414,1,3,5969,1990,3417,5679,1135,290
415,2,3,7842,6046,8552,1691,3540,1874
416,2,3,4389,10940,10908,848,6728,993
417,1,3,5065,5499,11055,364,3485,1063
418,2,3,660,8494,18622,133,6740,776
419,1,3,8861,3783,2223,633,1580,1521
420,1,3,4456,5266,13227,25,6818,1393
421,2,3,17063,4847,9053,1031,3415,1784
422,1,3,26400,1377,4172,830,948,1218
423,2,3,17565,3686,4657,1059,1803,668
424,2,3,16980,2884,12232,874,3213,249
425,1,3,11243,2408,2593,15348,108,1886
426,1,3,13134,9347,14316,3141,5079,1894
427,1,3,31012,16687,5429,15082,439,1163
428,1,3,3047,5970,4910,2198,850,317
429,1,3,8607,1750,3580,47,84,2501
430,1,3,3097,4230,16483,575,241,2080
431,1,3,8533,5506,5160,13486,1377,1498
432,1,3,21117,1162,4754,269,1328,395
433,1,3,1982,3218,1493,1541,356,1449
434,1,3,16731,3922,7994,688,2371,838
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [6]:
# 不要なカラムを削除
del(cust_df['Channel'])
del(cust_df['Region'])

In [25]:
# Pandasのデータフレームから Numpy の行列 (Array) に変換
cust_array = np.array([cust_df['Fresh'].tolist(),
                       cust_df['Milk'].tolist(),
                       cust_df['Grocery'].tolist(),
                       cust_df['Frozen'].tolist(),
                       cust_df['Detergents_Paper'].tolist(),
                       cust_df['Delicassen'].tolist()
                      ], np.int32)

# 行列を転置
cust_array = cust_array.T

# クラスタ分析を実行(クラスタ数=4)
pred = KMeans(n_clusters=4).fit_predict(cust_array)
pred

array([1, 3, 1, 1, 0, 1, 1, 1, 1, 3, 3, 1, 0, 3, 0, 1, 3, 1, 1, 1, 1, 1, 0,
       3, 0, 1, 1, 1, 3, 0, 1, 1, 1, 0, 1, 3, 0, 3, 3, 0, 0, 1, 3, 3, 1, 3,
       3, 2, 1, 3, 1, 1, 0, 3, 0, 1, 3, 3, 1, 1, 1, 2, 1, 3, 1, 2, 1, 1, 1,
       1, 1, 3, 1, 1, 1, 1, 1, 3, 1, 1, 1, 3, 3, 1, 1, 2, 2, 0, 1, 0, 1, 1,
       3, 1, 3, 1, 1, 1, 1, 1, 3, 3, 1, 0, 1, 1, 3, 3, 1, 3, 1, 3, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 3, 1, 1, 1, 0, 1, 1, 1, 1, 1, 3, 3, 1, 1, 3, 3,
       1, 1, 3, 1, 3, 1, 1, 1, 1, 3, 3, 1, 3, 1, 3, 0, 1, 1, 1, 1, 0, 3, 0,
       1, 1, 1, 3, 3, 3, 1, 1, 1, 3, 1, 1, 0, 3, 1, 1, 3, 3, 0, 1, 1, 3, 1,
       1, 1, 3, 1, 2, 1, 1, 3, 3, 3, 1, 3, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 3, 3, 1, 1, 1, 1, 1, 3, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 3, 3, 3, 1, 3, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 3, 1, 1, 1, 1, 1,
       1, 1, 3, 3, 3, 3, 3, 3, 1, 1, 3, 1, 0, 3, 1, 1, 3, 1, 1, 1, 3, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 3, 1, 2, 1, 0, 1, 1, 1, 1, 3, 3, 1, 3, 1,
       1, 3, 0, 1, 3, 1, 3, 1, 3, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 3, 0, 1, 1, 0, 1, 0, 1, 3, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 3, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 3, 1, 1, 1, 1, 3, 1,
       1, 1, 3, 1, 3, 1, 3, 1, 0, 1, 1, 1, 3, 0, 1, 1, 3, 1, 1, 1, 1, 0, 0,
       3, 1, 1], dtype=int32)

<div style="font-size:20px; color:pink; margin:20px">

</div>
<div style="font-size:14px; color:white; margin:20px">
上記のように、440 件の各顧客にクラスタ番号 (0, 1, 2, 3) が付与されたことがわかります。
</div>

<div style="font-size:20px; color:pink; margin:20px">
各クラスタの特徴を確認
</div>
<div style="font-size:14px; color:white; margin:20px">
クラスタ分析の結果を利用し、各クラスタがどのような特徴があるのかを確認します。<br>
ここでは、集計作業を楽に行うため、Pandas のデータフレームを利用します。
</div>

In [26]:
# Pandasのデータフレームワークにクラスタ番号を追加
cust_df['cluster_id']=pred
cust_df

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen  cluster_id
0    12669   9656     7561     214              2674        1338           1
1     7057   9810     9568    1762              3293        1776           3
2     6353   8808     7684    2405              3516        7844           1
3    13265   1196     4221    6404               507        1788           1
4    22615   5410     7198    3915              1777        5185           0
5     9413   8259     5126     666              1795        1451           1
6    12126   3199     6975     480              3140         545           1
7     7579   4956     9426    1669              3321        2566           1
8     5963   3648     6192     425              1716         750           1
9     6006  11093    18881    1159              7425        2098           3
10    3366   5403    12974    4400              5977        1744           3
11   13146   1124     4523    1420               549         497           1
12   31714  12319    11757     287              3881        2931           0
13   21217   6208    14982    3095              6707         602           3
14   24653   9465    12091     294              5058        2168           0
15   10253   1114     3821     397               964         412           1
16    1020   8816    12121     134              4508        1080           3
17    5876   6157     2933     839               370        4478           1
18   18601   6327    10099    2205              2767        3181           1
19    7780   2495     9464     669              2518         501           1
20   17546   4519     4602    1066              2259        2124           1
21    5567    871     2010    3383               375         569           1
22   31276   1917     4469    9408              2381        4334           0
23   26373  36423    22019    5154              4337       16523           3
24   22647   9776    13792    2915              4482        5778           0
25   16165   4230     7595     201              4003          57           1
26    9898    961     2861    3151               242         833           1
27   14276    803     3045     485               100         518           1
28    4113  20484    25957    1158              8604        5206           3
29   43088   2100     2609    1200              1107         823           0
..     ...    ...      ...     ...               ...         ...         ...
410   6633   2096     4563    1389              1860        1892           1
411   2126   3289     3281    1535               235        4365           1
412     97   3605    12400      98              2970          62           3
413   4983   4859     6633   17866               912        2435           1
414   5969   1990     3417    5679              1135         290           1
415   7842   6046     8552    1691              3540        1874           1
416   4389  10940    10908     848              6728         993           3
417   5065   5499    11055     364              3485        1063           1
418    660   8494    18622     133              6740         776           3
419   8861   3783     2223     633              1580        1521           1
420   4456   5266    13227      25              6818        1393           3
421  17063   4847     9053    1031              3415        1784           1
422  26400   1377     4172     830               948        1218           0
423  17565   3686     4657    1059              1803         668           1
424  16980   2884    12232     874              3213         249           1
425  11243   2408     2593   15348               108        1886           1
426  13134   9347    14316    3141              5079        1894           3
427  31012  16687     5429   15082               439        1163           0
428   3047   5970     4910    2198               850         317           1
429   8607   1750     3580      47                84        2501           1
430   3097   4230    16483     575               241        2080           3
431   8533   5506     5160   13486              1377        1498           1
432  21117   1162     4754     269              1328         395           1
433   1982   3218     1493    1541               356        1449           1
434  16731   3922     7994     688              2371         838           1
435  29703  12051    16027   13135               182        2204           0
436  39228   1431      764    4510                93        2346           0
437  14531  15488    30243     437             14841        1867           3
438  10290   1981     2232    1038               168        2125           1
439   2787   1698     2510      65               477          52           1

[440 rows x 7 columns]

In [28]:
# 各クラスタに属するサンプル数の分布
cust_df['cluster_id'].value_counts()

1    279
3     95
0     59
2      7
Name: cluster_id, dtype: int64

In [29]:
# 各クラスタの各部門商品の購買額の平均値(クラスタ番号=0)
cust_df[cust_df['cluster_id']==0].mean()

Fresh               36156.389831
Milk                 6123.644068
Grocery              6366.779661
Frozen               6811.118644
Detergents_Paper     1050.016949
Delicassen           3090.050847
cluster_id              0.000000
dtype: float64

In [30]:
# 各クラスタの各部門商品の購買額の平均値(クラスタ番号=1)
cust_df[cust_df['cluster_id']==1].mean()

Fresh               9035.440860
Milk                3062.222222
Grocery             3820.118280
Frozen              2795.881720
Detergents_Paper    1036.885305
Delicassen          1052.211470
cluster_id             1.000000
dtype: float64

In [31]:
# 各クラスタの各部門商品の購買額の平均値(クラスタ番号=2)
cust_df[cust_df['cluster_id']==2].mean()

Fresh               20031.285714
Milk                38084.000000
Grocery             56126.142857
Frozen               2564.571429
Detergents_Paper    27644.571429
Delicassen           2548.142857
cluster_id              2.000000
dtype: float64

In [32]:
# 各クラスタの各部門商品の購買額の平均値(クラスタ番号=3)
cust_df[cust_df['cluster_id']==3].mean()

Fresh                5113.652632
Milk                11243.305263
Grocery             17518.168421
Frozen               1597.800000
Detergents_Paper     7611.610526
Delicassen           1865.536842
cluster_id              3.000000
dtype: float64

<div style="font-size:20px; color:pink; margin:20px">
Matplotlib でクラスタの傾向を可視化
</div>
<div style="font-size:14px; color:white; margin:20px">
先ほど求めた、各クラスタの各部門商品の購買額の平均値をMatplotlibを用いて<br>
傾向を可視化すると以下のようになります。<br>
<br>
Matplotlib で積み上げ棒グラフを出力<br>
</div>

In [40]:
# 可視化(積み上げ棒グラフ)
import matplotlib.pyplot as plt

clusterinfo = pd.DataFrame()
for i in range(4):
    clusterinfo['cluster' + str(i)] = cust_df[cust_df['cluster_id'] == i].mean()
clusterinfo = clusterinfo.drop('cluster_id')
clusterinfo

                      cluster0     cluster1      cluster2      cluster3
Fresh             36156.389831  9035.440860  20031.285714   5113.652632
Milk               6123.644068  3062.222222  38084.000000  11243.305263
Grocery            6366.779661  3820.118280  56126.142857  17518.168421
Frozen             6811.118644  2795.881720   2564.571429   1597.800000
Detergents_Paper   1050.016949  1036.885305  27644.571429   7611.610526
Delicassen         3090.050847  1052.211470   2548.142857   1865.536842

In [41]:
my_plot = clusterinfo.T.plot(kind='bar', stacked=True, title="Mean Value of 4 Clusters")
my_plot.set_xticklabels(my_plot.xaxis.get_majorticklabels(), rotation=0)

[Text(0,0,'cluster0'),
 Text(0,0,'cluster1'),
 Text(0,0,'cluster2'),
 Text(0,0,'cluster3')]

<div style="font-size:20px; color:pink; margin:20px">

</div>
<div style="font-size:14px; color:white; margin:20px">

</div>

<div style="font-size:20px; color:pink; margin:20px">

</div>
<div style="font-size:14px; color:white; margin:20px">

</div>

<div style="font-size:20px; color:pink; margin:20px">

</div>
<div style="font-size:14px; color:white; margin:20px">

</div>